*.7z
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.orig
*.rar
*.so
*.sql
*.sqlite
*.tar
*.zip
*autom4te.cache*
*~
._*
.deps
.deps/
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
\#*\#
aclocal.m4
autom4te.cache*
config
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure
doc
doc/*.tmp
doc/html
doc/latex
ehthumbs.db
include/qphix/qphix_config_internal.h
include/qphix/qphix_config_internal.h.in
include/qphix/stamp-h1
include4git
INSTALL
lib/libqphix_solver.a
lib4git
Makefile
Makefile.in
stamp-h1
tests/ipo_out.optrpt
tests/t_dslash
tests/t_minvcg
tests/time_clov_noqdp
tests/time_dslash_noqdp
Thumbs.db
