{% for isign in ['plus', 'minus'] %}
{% call definition_instantiation(isign + "_body") %}
void tm_clov_dslash_{{ isign }}_vec<FPTYPE, VEC, SOA, COMPRESS12, {{ tbc_true_false }}>(
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *xyBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *zbBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *zfBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *tbBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *tfBase,
    Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *oBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::SU3MatrixBlock *gBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FullCloverBlock *clBase,
    const int xbOffs[VEC],
    const int xfOffs[VEC],
    const int ybOffs[VEC],
    const int yfOffs[VEC],
    const int offs[VEC],
    const int gOffs[VEC],
    const int siprefdist1,
    const int siprefdist2,
    const int siprefdist3,
    const int siprefdist4,
    const int gprefdist,
    const int clprefdist,
    const int pfyOffs[VEC],
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase2,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase3,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase4,
    const unsigned int accumulate[8],
    const FPTYPE coeff_s,
    const FPTYPE coeff_t_f,
    const FPTYPE coeff_t_b,
    const FPTYPE tbc_phases[4][2])
{% endcall %}

{% call definition_instantiation("achimbdpsi_"+isign+"_body") %}
void tm_clov_dslash_achimbdpsi_{{ isign }}_vec<FPTYPE, VEC, SOA, COMPRESS12, {{ tbc_true_false }}>(
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *xyBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *zbBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *zfBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *tbBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *tfBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *chiBase,
    Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *oBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::SU3MatrixBlock *gBase,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::CloverBlock *clBase,
    const int xbOffs[VEC],
    const int xfOffs[VEC],
    const int ybOffs[VEC],
    const int yfOffs[VEC],
    const int offs[VEC],
    const int gOffs[VEC],
    const int siprefdist1,
    const int siprefdist2,
    const int siprefdist3,
    const int siprefdist4,
    const int chiprefdist,
    const int gprefdist,
    const int clprefdist,
    const int pfyOffs[VEC],
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase2,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase3,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBase4,
    const Types<FPTYPE, VEC, SOA, COMPRESS12>::FourSpinorBlock *pfBaseChi,
    const FPTYPE coeff_s,
    const FPTYPE coeff_t_f,
    const FPTYPE coeff_t_b,
    const FPTYPE tbc_phases[4][2],
    const unsigned int accumulate[8],
    const FPTYPE prec_mass_rho)
{% endcall %}
{% endfor %}
