cmake_minimum_required(VERSION 2.8.11)

project(qphix_codegen C CXX)

include_directories(".")
include_directories("../../include")

add_definitions("--std=c++11")

add_definitions("-march={{ march }}")

add_library(qphix_codegen

    {% for source_file in source_files -%}
    lib/{{ source_file }}
    {% endfor -%}
    )
