// {{ generated_warning }}

#pragma once

{% for isa in isas %}
{% set filename = 'qphix/%s/include/%s_%s_decl.h'|format(isa, kernel, isa) %}
#if defined (QPHIX_{{ isa|upper }}_SOURCE)
#include "{{ filename }}"
#endif
{% endfor %}
