# {{ generated_warning }}

{{ isa }}_includedir = $(includedir)/qphix/{{ isa }}

nobase_{{ isa }}_include_HEADERS = \
        {% for extra_include in extra_includes -%}
        {{ extra_include }} \
        {% endfor -%}
        ./dslash_{{ isa }}_complete_specialization.h

if QPHIX_BUILD_CLOVER
nobase_{{ isa }}_include_HEADERS += \
        ./clov_dslash_{{ isa }}_complete_specialization.h
endif

if QPHIX_BUILD_TWISTED_MASS
nobase_{{ isa }}_include_HEADERS += \
        ./tmf_dslash_{{ isa }}_complete_specialization.h
endif

if QPHIX_BUILD_TWISTED_MASS_WITH_CLOVER
nobase_{{ isa }}_include_HEADERS += \
        ./tmf_clov_dslash_{{ isa }}_complete_specialization.h
endif
