{% for isign in ['plus', 'minus'] %}
#ifdef QPHIX_DO_COMMS

template <typename FT, int veclen, int soalen, bool compress12>
inline void tm_clov_face_finish_dir_{{ isign }}(
    const FT *inbuf,
    const typename Geometry<FT, veclen, soalen, compress12>::SU3MatrixBlock
        *gBase,
    typename Geometry<FT, veclen, soalen, compress12>::FourSpinorBlock *oBase,
    const typename Geometry<FT, veclen, soalen, compress12>::FullCloverBlock
        *clBase,
    const int gOffs[veclen],
    const int offs[veclen],
    const int hsprefdist,
    const int gprefdist,
    const int soprefdist,
    const int clprefdist,
    const FT beta,
    unsigned int mask,
    int dir) {
    // BASE CASE TEMPLATE. Do nothing for now. Define this in
    // dslash_generated_c.h later
    fprintf(stderr, "Generic veclen and soalen not supported yet.\n");
    abort();
}

#endif // QPHIX_DO_COMMS
{% endfor %}
